:root { 
    --marg:  min(10vw,1000px);
    --Max-Width: min(80vw,1500px);
/* @link https://utopia.fyi/type/calculator?c=300,21,1.2,1100,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
    --step--2: clamp(0.91rem, calc(0.89rem + 0.10vw), 0.96rem);
    --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.20rem);
    --step-0: clamp(1.31rem, calc(1.24rem + 0.38vw), 1.50rem);
    --step-1: clamp(1.58rem, calc(1.46rem + 0.60vw), 1.88rem);
    --step-2: clamp(1.89rem, calc(1.72rem + 0.91vw), 2.34rem);
    --step-3: clamp(2.27rem, calc(2.02rem + 1.32vw), 2.93rem);
    --step-4: clamp(2.72rem, calc(2.37rem + 1.88vw), 3.66rem);
    --step-5: clamp(3.27rem, calc(2.77rem + 2.62vw), 4.58rem);
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-rendering: optimizeLegibility;
    background: #fff ;
    color: #000;
    overflow-x: hidden;
    width: 100vw;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* waves */

/* nav section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline:  var(--marg);
    height: 7rem;
    position: absolute;
    width: 100vw;
}

    .logo {
        font-weight: 700;
        font-size: 2.7rem;
        z-index: 900;
    }

    .navLink {
        display: flex;
        align-items: center;
        z-index: 900;
    }

    .navLink a {
        padding-inline: .75rem;
        font-size: 1.25rem;
        font-weight: 500;
        z-index: 900;
    }

    .contact {
        background: coral;
        padding: .5rem;

        border-radius: 1.75rem ;
        margin-left: .5rem;
        z-index: 900;
    } 

    .nav-toggle {
        display: none;
        z-index: 900;
    }

        @media (max-width: 1010px) {
            .navLink {
                position: fixed;
                inset: 8vh 0 0 60vw;
                flex-direction: column;
                z-index: 998;

                transform: translateX(100%);
            }

            .navLink[data-visible="true"] {
                transform: translateX(0%);
            }

            .nav-toggle {
                display: block;
                background: #000;
                width: 2rem;
                aspect-ratio: 1;
                position: absolute;
                right: var(--marg);
                top: 2.5rem;

                z-index: 999;
                border: 0;


                background: url(../images/menu.svg);
                background-repeat: no-repeat;
                background-size: contain;
                transition: transform 200ms ease-out;
            }

            .nav-toggle[aria-expanded="true"] {
                background: url(../images/close.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

/* maincontent section */


/* header */
header {
    padding-top: 11rem;
    padding-bottom: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(-5%);

}

.headerWraper {
    width: var(--Max-Width);
    margin-block: 0;


    display: flex;
    align-items: center;
    gap: 5vw;
    justify-content: space-between;
    
}

.header {
    background: rgb(255, 127, 80);
    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 5;
    width: fit-content;
    padding: var(--step--1);
    border-radius: 10px;

    width: min(40vw, 750px);

    
}

    .headerName {
        border-radius: 10px 10px 0 0;
        font-size: var(--step-5);
        font-weight: 600;

        z-index: 5;
    }

    .headerInfo {
        font-size: var(--step-1);
        font-weight: 500;
        z-index: 5;    
    }

.averyBackground {
    background: rgba(255, 127, 80, 0.8);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;    

    overflow: hidden;
    height: 600px;
    aspect-ratio: 1;


    z-index: 5;
}

    .avery {
        padding: 10px;

    }

    @media (max-width: 1010px) {
        header {
            transform: translateY(0);
        }

        .headerWraper {
            background: burlywood;

            flex-direction: column;
        }

        .header {
            width: var(--Max-Width);
            order: 2;
        }


        .headerInfo {
            margin-left: 20vw;
            text-align: right;
        }

        .averyBackground {
            top: 0;
            order: 1;
            width: var(--Max-Width);
            height: 500px;
        }
        
    }


/* other section */
/* first */
.spacer {
    width: 100vw;
    position: absolute;
    z-index: 4;
    transform: translatey(-100%);
}

.spacer2 {
    width: 100vw;
    position: absolute;
    z-index: 4;
    transform: translatey(100%) rotate(180deg) rotateY(180deg);
    position: absolute;
    bottom: 0;

}

.first  {
    background: #000;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.work {
    background: #fff;
    position: relative;
    width: 100vw;   
    margin-top: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.work div {
    background: coral;
    height: 680px;
    width: var(--Max-Width) ;
    margin: 30px;
    border-radius: 40px;
}

.contactForm {
    background: aquamarine;
    height: 700px;
    margin: var(--marg);
    margin-bottom: 0;
    border-radius: 20px 20px 0 0 ;
}

/* foter */

footer {
    background: #000;
    height: 400px;
}
