:root { 
    --marg:  min(10vw,1000px);
    --Max-Width: min(80vw,1500px);
/* @link https://utopia.fyi/type/calculator?c=300,21,1.2,1100,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
    --step--2: clamp(0.91rem, calc(0.89rem + 0.10vw), 0.96rem);
    --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.20rem);
    --step-0: clamp(1.31rem, calc(1.24rem + 0.38vw), 1.50rem);
    --step-1: clamp(1.58rem, calc(1.46rem + 0.60vw), 1.88rem);
    --step-2: clamp(1.89rem, calc(1.72rem + 0.91vw), 2.34rem);
    --step-3: clamp(2.27rem, calc(2.02rem + 1.32vw), 2.93rem);
    --step-4: clamp(2.72rem, calc(2.37rem + 1.88vw), 3.66rem);
    --step-5: clamp(3.27rem, calc(2.77rem + 2.62vw), 4.58rem);
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-rendering: optimizeLegibility;
    background: #fff ;
    color: #000;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;
    font-size: var(--step-0);
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* headers */

h1 {
    font-size: var(--step-5);
    font-weight: 600;
}

h2 {
    font-size: var(--step-5); 
}

h3 {
    font-size: var(--step-4);
}





.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}








/* nav section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline:  var(--marg);
    height: 7rem;
    position: absolute;
    width: 100vw;
}
    .logo {font-weight: 700;font-size: 2.7rem;margin-right: 50px;}

    .navLink a {padding-inline: .75rem;font-size: 1.25rem;}

    .contact {
            background: coral;
            padding: .5rem;
            margin-left: .5rem;
            border-radius: 1.75rem ;
    } 

    .nav-toggle {display: none;}

    @media (max-width: 1010px) {
        .navLink {
            position: fixed;
            inset: 8vh 0 0 60vw;
            flex-direction: column;
            transform: translateX(100%);
        }

        .navLink[data-visible="true"] {transform: translateX(0%);}

        .nav-toggle {
            display: block;
            background: #000;
            width: 2rem;
            aspect-ratio: 1;
            position: absolute;
            right: var(--marg);
            top: 2.5rem;
            border: 0;
            background: url(../images/menu.svg);
            background-repeat: no-repeat;
            background-size: contain;
            transition: transform 200ms ease-out;
        }

        .nav-toggle[aria-expanded="true"] {background: url(../images/close.svg);background-repeat: no-repeat;background-size: contain;}
    }

/* maincontent section */


/* header */
header {
    padding-top: 9rem;
    padding-bottom: 240px;
}

.headerWraper {
    width: var(--Max-Width);
    gap: 5vw; 
}

.header {
    background: rgb(255, 127, 80);
    padding: var(--step--1);
    border-radius: 10px;
    width: min(40vw, 750px);
}
.headerInfo {
    font-size: var(--step-1);
}

.averyBackground {
    background: rgba(255, 127, 80, 0.8);
    border-radius: 10px;
    height: 600px;
}   .avery {padding: 10px;}

    @media (max-width: 1010px) {
        .headerWraper {flex-direction: column;}
        .header {width: var(--Max-Width);order: 2;}
        .headerInfo {margin-left: 20vw;text-align: right;}
        .averyBackground {order: 1;width: var(--Max-Width);}
        
    }

/* first */
.spacer, .spacer2 {
    width: 100vw;
    position: absolute;
    max-width: unset;
}
    .spacer {
        transform: translatey(-90%);
        top: 0;
    }
    .spacer2 {
        transform: translatey(90%);
        bottom: 0; 
    }

.blob {
    position: absolute;
    top: 80px;
    left: -150px;
    width: 430px;
}
.blob2 {
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 650px;
}

.first  {
    background: rgb(0, 0, 0);
    position: relative;
    width: 100vw;
    padding-block: 200px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .firstWraper {
        width: var(--Max-Width);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .firstTxt,
    .firstTxt2,
    .firstImg,
    .firstImg2 {
        width: 600px;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        padding: 33px;
        max-width: var(--Max-Width);
        border-radius: 13px;
        color: #fff;
    }

    .firstImg, .firstImg2 {
        background: #fff;
        align-items: center;        
    }

/* works */

.work {
    background: #fff;
    position: relative;
    width: 100vw;   
    margin-top: 260px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.workWraper {
    background: url(../images/racoon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-inline: var(--marg);

    height: 680px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.workInfo1 {
    color: #fff;
    margin: 0 var(--marg) 60px 40px;
}

.workInfo1 h2 {
    font-size: var(--step-5);
}
.workInfo1 p {
    font-size: var(--step-2);
}

    @media (max-width: 1010px) {
        .workWraper {
            background: url(../images/racoon-media.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

/* contact form */

.contactForm {
    background: aquamarine;
    margin: var(--marg);
    margin-bottom: 0;
    border-radius: 20px 20px 0 0 ;
    padding: 3rem;
}

.formWraper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#name,
#email,
#subject,
#phone,
#message,
#submit {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: var(--step-0);
    max-width: 100%;
    outline: none;
}

#message {
    grid-column: 1/ 3;
    max-width: 100%;
    border-radius: 10px 10px 0 10px;
}

#submit {
    width: fit-content;
}

@media (max-width: 1010px) {
    #name,
    #email,
    #subject,
    #phone,
    #message,
    #submit {
        grid-column: 1/3;
    }

}


/* foter */

footer {
    background: #000;
    padding: 50px;
}

hr {
    border:2px solid #fff;
    border-radius: 2px;
    width: 50vw;
    margin: auto;
}

.social ul{
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-top: 0;
    font-size: var(--step-1);
    font-weight: 600;
    gap: 2rem;
    text-align: center;
}

.social a {
    color: #fff;
}

.footerLinks ul{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: var(--step-1);
    font-weight: 600;
    gap: 2rem;
    text-align: center;
}

.footerLinks a {
    color: #fff;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 2rem;
}

@media (max-width: 1010px) {

    .footerLinks ul {
        flex-direction: column;
    }

    .social ul {
        flex-direction: column;        
    }
}